<h1><%= "#{@word.text}" %></h1>
<h4>Letters in <%= "#{@word.text}" %> are <%= "#{@word.letters}" %></h4>
<h2>Anagrams for <%= "#{@word.text}" %>:</h2>
<ul class="list-unstyled">
	<% if !@anagrams.nil? %>
    <% @anagrams.each do |anagram| %>
    	<li><%= "#{anagram.text}" %></li>
    <% end %>
  <% end %>
</ul>
<p><a href="/">Go back and try another!</a></p>